.btn-main{
    transform: translateY(150%);
  -webkit-transform: translateY(150%);
  -moz-transform: translateY(150%);
  -ms-transform: translateY(150%);
  -o-transform: translateY(150%);
  opacity: 0;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}