<section class="container rounded shadow bg-main-light mt-4 mb-3">
    <div class="row">
        <div class="col-sm 12">
            <form [formGroup]="orderForm" (ngSubmit)="handelForm()" class='p-2'>
                <div class="form-item">
                    <label class="text-capitalize" for="details">details</label>
                    <textarea name="details" id="details" class="form-control" type="text"
                        formControlName="details"></textarea>
                </div>
                @if (orderForm.get('details')?.errors
                &&(orderForm.get('details')?.touched||orderForm.get('details')?.dirty)) {
                <div class="alert alert-danger mt-2 w-50 m-auto text-capitalize p-2"> this field is required </div>}
                <div class="form-item">
                    <label class="text-capitalize" for="phone">phone</label>
                    <input name="phone" id="phone" class="form-control" type="tel" formControlName="phone">
                </div>
                @if (orderForm.get('phone')?.errors &&
                (orderForm.get('phone')?.touched||orderForm.get('phone')?.dirty)){
                @if (orderForm.get('phone')?.getError('required')) {
                <div class="alert alert-danger mt-2 w-50 m-auto text-capitalize p-2"> this field is required </div>
                }@else if(orderForm.get('phone')?.getError('pattern')){
                <div class="alert alert-danger mt-2 w-50 m-auto text-capitalize p-2"> this field is not correct </div>}
                }
                <div class="form-item">
                    <label class="text-capitalize" for="city">city</label>
                    <input name="city" id="city" class="form-control" type="tel" formControlName="city">
                </div>
                @if (orderForm.get('city')?.errors && (orderForm.get('city')?.touched||orderForm.get('city')?.dirty)) {
                @if (orderForm.get('city')?.getError('required')) {
                <div class="alert alert-danger mt-2 w-50 m-auto text-capitalize p-2"> this field is required </div>}
                }
                <button class="btn-main text-capitalize mt-3"> check out</button>
            </form>
        </div>
    </div>
</section>