@if (brandsData.length>0) {
<section class="pt-4 pb-2 container-fluid">
    <h2 class="text-capitalize ">all brands</h2>
    <div class="row justify-content-center g-4">
        @for (item of brandsData ; track $index) {
        <div class="col-sm-6 col-md-2 ">
            <div class="product p-2">
                <img class="w-100" [src]="item.image" [title]="item.slug" [alt]="item.slug" />
                <h3 class="h6 small text-main mt-1">{{ item.name }}</h3>
            </div>
        </div>
        }
    </div>
</section>
}