/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}

body {
  font-family: var(--font-family) !important;
}

.nav-link {
  transition: unset !important;
}

.active-link {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
  border-radius: 5px;
}

.rating-color {
  color: var(--rating-color);
}

.cr {
  cursor: pointer;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 5px;
  border: solid 1px var(--main-color);
  transition: box-shadow 0.5s;
  overflow: hidden;
  position: relative;

  &:hover {
    .btn-main {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 1;
    }

    .heart {
      right: 5px;
    }
  }

  .heart {
    font-size: 30px;
    position: absolute;
    z-index: 999;
    top: 5px;
    right: -50px;
    cursor: pointer;
    transition: right 1s;
    -webkit-transition: right 1s;
    -moz-transition: right 1s;
    -ms-transition: right 1s;
    -o-transition: right 1s;
  }
}

.product:hover {
  box-shadow: 0 0 10px #11bd1168;
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}

.btn-main {
  background-color: var(--main-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.btn-main:disabled:hover {
  background-color: #ccc;
}

.btn-main:hover {
  background-color: #11bd11;
}

/* class to color the fraction star */
.star {
  display: inline-block;
  width: 17.5px;
  height: 14px;
  background-color: gray;
  /* Fallback color */
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-size: 100%;
}